### task:
https://raw.githubusercontent.com/nagamounika5/Datasets/master/Glass_Classification.csv Apply Random forest model to above dataset.

In [1]:
import pandas as rv

In [3]:
df=rv.read_csv("https://raw.githubusercontent.com/nagamounika5/Datasets/master/Glass_Classification.csv")
df.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RI      214 non-null    float64
 1   Na      214 non-null    float64
 2   Mg      214 non-null    float64
 3   Al      214 non-null    float64
 4   Si      214 non-null    float64
 5   K       214 non-null    float64
 6   Ca      214 non-null    float64
 7   Ba      214 non-null    float64
 8   Fe      214 non-null    float64
 9   Type    214 non-null    int64
dtypes: float64(9), int64(1)
memory usage: 16.8 KB

In [5]:
df.shape

(214, 10)

In [7]:
df.isnull().sum()

RI      0
Na      0
Mg      0
Al      0
Si      0
K       0
Ca      0
Ba      0
Fe      0
Type    0
dtype: int64

In [8]:
x=df.drop('Type',axis=1)
y=df['Type']

In [9]:
x.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0

In [10]:
y[:5]

0    1
1    1
2    1
3    1
4    1
Name: Type, dtype: int64

In [11]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.40, random_state = 45)

In [12]:
x_train

          RI     Na    Mg    Al     Si     K     Ca    Ba    Fe
117  1.51708  13.72  3.68  1.81  72.06  0.64   7.88  0.00  0.00
107  1.53393  12.30  0.00  1.00  70.16  0.12  16.19  0.00  0.24
180  1.51299  14.40  1.74  1.54  74.55  0.00   7.59  0.00  0.00
89   1.51640  12.55  3.48  1.87  73.23  0.63   8.08  0.00  0.09
122  1.51687  13.23  3.54  1.48  72.84  0.56   8.10  0.00  0.00
..       ...    ...   ...   ...    ...   ...    ...   ...   ...
32   1.51775  12.85  3.48  1.23  72.97  0.61   8.56  0.09  0.22
124  1.52177  13.20  3.68  1.15  72.75  0.54   8.52  0.00  0.00
131  1.52614  13.70  0.00  1.36  71.24  0.19  13.44  0.00  0.10
158  1.51776  13.53  3.41  1.52  72.04  0.58   8.79  0.00  0.00
203  1.51658  14.80  0.00  1.99  73.11  0.00   8.28  1.71  0.00

[128 rows x 9 columns]

In [13]:
x_train.shape,x_test.shape

((128, 9), (86, 9))

In [14]:
y_train.shape,y_test.shape

((128,), (86,))

In [15]:
from sklearn.ensemble import RandomForestClassifier

In [16]:
rfc = RandomForestClassifier()
rfc

RandomForestClassifier()

In [17]:
rfc.fit(x_train,y_train)

RandomForestClassifier()

In [18]:
y_prediction = rfc.predict(x_test)
y_prediction

array([2, 1, 2, 2, 2, 2, 1, 1, 7, 2, 7, 1, 2, 2, 1, 2, 1, 6, 3, 1, 5, 1,
       7, 2, 1, 6, 1, 7, 2, 2, 1, 7, 1, 1, 2, 2, 7, 1, 2, 2, 2, 1, 2, 7,
       1, 1, 1, 1, 7, 2, 1, 2, 3, 1, 7, 2, 6, 7, 1, 2, 1, 1, 2, 7, 2, 5,
       2, 2, 1, 1, 6, 7, 7, 1, 3, 2, 2, 2, 1, 7, 6, 5, 1, 6, 1, 1],
      dtype=int64)

In [19]:
x_test.head(3)

         RI     Na    Mg    Al     Si     K    Ca   Ba    Fe
83  1.51594  13.09  3.52  1.55  72.87  0.68  8.05  0.0  0.09
62  1.52172  13.51  3.86  0.88  71.79  0.23  9.54  0.0  0.11
84  1.51409  14.25  3.09  2.08  72.28  1.10  7.08  0.0  0.00

In [20]:
y[:3]

0    1
1    1
2    1
Name: Type, dtype: int64

In [21]:
rfc.predict([[1.51409,14.25,3.09,2.08,72.28,1.10,7.08,0.0,0.00]]
           )

array([2], dtype=int64)

In [22]:
rfc.predict([[1.51594,13.09,3.52,1.55,72.87,0.68,8.05,0.0,0.09]])

array([2], dtype=int64)

In [24]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_prediction, y_test)

array([[22,  5,  4,  0,  0,  0],
       [ 2, 23,  1,  2,  0,  1],
       [ 1,  0,  2,  0,  0,  0],
       [ 0,  0,  0,  2,  0,  1],
       [ 0,  1,  0,  0,  5,  0],
       [ 0,  0,  0,  0,  0, 14]], dtype=int64)

In [26]:
from sklearn.metrics import accuracy_score
accuracy_score(y_prediction, y_test)

0.7906976744186046